
<% include partials/header %>

<div class="container">

      <h1 class = "mt-5 bg-primary">Welcome to the NK Learnincare MicroBlogger Application</h1>


      <h1 class = "mt-5 bg-primary">Use the Navbar to navigate through the menus</h1>
</div>


<% include partials/footer %>